{% extends "BackBundle::layout.html.twig" %}


{% block pageHeader %}Entreprise{% endblock %}
{% block pageContent %}
    <li>
        <a href="{{ path('entreprise_show') }}"><i class="fa fa-briefcase fa-fw fa-fw"></i>
            Une Entreprise Random</a>
    </li>
{% endblock %}